.about {
  background-color: #0a2850;
  position: relative;
  overflow: hidden;
  padding-top: 100px;
  padding-right: 80px;
  padding-bottom: 173px;
  margin: 0;
  display: flex;
  justify-content: ;
}

.about__circle {
  border-radius: 50%;
  background-color: #2f80ed;
  height: 426px;
  width: 426px;
  position: absolute;
  left: -129px;
  top: -152px;
  z-index: 1;
}

.about__circle_animation_blured {
  top: 0;
  left: 0;
  transform-origin: center;
  animation: pulsate 1.3s ease-in-out 0s infinite;
}
@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.6;
  }
  100% {
    transform: scale(1.2);
    opacity: 0;
  }
}

.about__title {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
  z-index: 2;
  position: relative;
  display: flex;
  max-width: 251px;
}

.about__content {
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
  padding-top: 100px;
  padding-bottom: 100px;
}

.about__paragraph {
  max-width: 660px;
  float: right;
  padding-top: 119px;
  padding-right: 80px;
  padding-bottom: 173px;
}
